/* This styling is universal. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* This is the site's background color. A hex value has been used. */
body {
    background-color: #d9dcd6;
}
/* For any elements it's assigned to, this class specifies the amount of whitespace around text, font stack and color with a hex value */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* For h1 headings within an element with the class header, the display & font size is given */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* For styling elements with the seo class within h1 headings within elements with the class header. */
.header h1 .seo {
    color: #d9dcd6;
}
/* Styling for the navigation with any element with the class header. */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Styling for listed items in an unordered list
within a navigation area for elements with the class header.
*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}
/* The color for all links within the site & the decoration is specified here */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Specifies the font size for all paragraph text */
p {
    font-size: 16px;
}
/* Specifies spaces outside the bottom of the border & font size for all h2 headings. */
h2 {
    margin-bottom: 20px;
    font-size: 36px; 
}
/* Specifies spaces outside the bottom of the border & centrally aligns all h3 headings. */
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Images no longer inline as they are by default, their margin is specified and dimensions are provided */
img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    max-height: 200px;
}
/* Bottom margin, padding, height, font stack, background color & text color for elements with this class are specified */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* This specifies the styling for the top of the website after the header */
.top {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* The image floats on the left and the text is on the right. Margin to the nav is specified. */
.float-left {
    float: left;
    margin-right: 25px;
}
/* The image floats on the right and the text is on the left. Margin to the nav is specified. */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Width, display and margin for the section adopting this class are specified. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* The attributes of this class are applied in the aside element. */
.benefits {
    margin-right: 20px;
    margin-bottom: 60px;
    padding: 70px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* All these attributes are applied to the website footer */
.footer {
    padding: 30px;
    font-size: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

